body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
a, ul, p, h1, button {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: none;
}

.header-container, .header-logo, .header-links,
.hero-container,
.physicist-information-container,
.footer-container {
  display: flex;
  flex-direction: row;
}


.header-logo,
.hero-left {
  margin-left: 48px;
}

.header-links,
.hero-right {
  margin-right: 48px;
}

.header-container {
  background-color: #1F2937;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-weight: bolder;
  color: #F9FAF8;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}
.header-links {
  gap: 10px;
}
.header-links li a {
  color: #F9FAF8;
}
.header-links li a:hover {
  font-size: 17px;
  color: lightblue;
}

.hero-container {
  background-color: #1F2937;
  padding: 64px 0;
  justify-content: center;
  gap: 50px;
}
.hero-left {
  flex-direction: column;
  width: 400px;
  height: auto;
}
.hero-header {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 2px;
}
.hero-text {
  color: #F9FAF8;
  font-size: 18px;
  margin-bottom: 5px;
}
.hero-button {
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 5px;
  border: 1px solid #F9FAF8; 
  border-radius: 5px;
  cursor: pointer;
}
.hero-button:hover {
  background-color: lightblue;
  color:#1F2937;
}
.hero-right {
  width: 300px;
}
.hero-right img {
  width: 100%;
  height: 100%
}

.physicist-information-header {
  font-size: 36px;
  font-weight: extra-bold; 
  color: #1F2937;
  text-align: center;
  padding: 20px;
}
.physicist-information-container {
  justify-content: center;
  gap: 25px;
  margin-bottom: 64px;
}
.physicist-information-item {
  border: 5px solid #3882F6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 150px;
}

.physicist-information-item:hover {
  transform: scale(1.2);
}
.physicist-information-item img {
  width: 150px;
  height: 150px;
}
.physicist-information-text {
  font-size: 13px;
  font-weight: 600;
  background-color: lightblue;
}

.quote-container {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 84px;
}
.quote-text {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}
.quote-author {
 align-self: flex-end;
 font-size: 20px;
 font-weight: bolder;
 margin-right: 20px;
}

.cta-container {
  display: flex;
  justify-content: space-between;
  background-color: #3882F6;
  border-radius: 5px;
  padding: 50px;
  margin: 100px;
}
.cta-left {
  display: flex;
  flex-direction: column;
}
.cta-right {
  display: flex;
}
.cta-header {
  color: #F9FAF8;
  font-size: 25px;
  margin-bottom: 5px;
}
.cta-text {
  color: #F9FAF8;
}
.cta-button {
  background-color: #3882F6;
  border: 2px solid#F9FAF8;
  border-radius: 5px;
  color: #F9FAF8;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}
.cta-button:hover {
  background-color: #F9FAF8;
  color:#3882F6;
}

.footer-container {
  background-color: #1F2937;
  color: #F9FAF8;
  justify-content: center;
  align-items: center;
  padding: 24px;
}